<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>123</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>122</string>
					<key>Timestamp</key>
					<string>739707531.8036309</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ball Master/Screens/Settings/ViewModel/SettingsViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            showAlert(with: "Application is not able", with: "to send an email", viewcontroller: view!)
</string>
				<key>leading</key>
				<string>        } else {
            print("Application is not able to send an email")
</string>
				<key>trailing</key>
				<string>        }
    }
    func mailComposeController(_ controller: MFMailComposeViewController, didFinishWith result: MFMailComposeResult, error: Error?) {
</string>
			</dict>
			<key>title</key>
			<string>add messages</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>14</string>
					<key>StartingColumnNumber</key>
					<string>26</string>
					<key>StartingLineNumber</key>
					<string>13</string>
					<key>Timestamp</key>
					<string>738668998.591611</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ball Master/Screens/BestPractice/Cell/PracticeCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    var body: some View {
        ZStack {
            Image("\(model.image)")</string>
				<key>trailing</key>
				<string>                .resizable()
                .frame(height: 179)
                .cornerRadius(35)
</string>
			</dict>
			<key>title</key>
			<string>make a random image here</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>29</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>28</string>
					<key>Timestamp</key>
					<string>739710105.298442</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ball Master/Screens/BestPractice/ViewModel/BestPracticeViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        coordinator?.showBestPracticeDeteil(model: model)
</string>
				<key>leading</key>
				<string>    
    func showPracticeDeteil(model: PracticeModel) {
</string>
				<key>trailing</key>
				<string>    }
}

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>739369439.065275</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ball Master/Screens/Games/Cell/GameCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        ZStack(alignment:.top) {
</string>
				<key>leading</key>
				<string>    var model: GameModel
    var body: some View {
</string>
				<key>trailing</key>
				<string>            VStack {
                Rectangle()
                    .frame(width: 70, height: 24)
</string>
			</dict>
			<key>title</key>
			<string>Create a game model for complete game cell</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
